opencv-python
psutil
plyer
matplotlib
json
time
win10toast

# Ante error: ERROR: No matching distribution found for time, eliminar dependencia de requirements.txt, esta dependencia ya está embebida en Python
